.header {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    background: white;
}
.section-title {
    width: 25%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: white;
}
.section-content {
    width: 75%;
    padding-left: 40%;
    font-size: 16px;
    color: black;
    background: white;
}
ul {
    margin-top: 5px;
    padding-left: 20px;
}
hr {
    border: 0;
    border-top: 2px solid #2c3e50;
    margin: 10px 0 20px 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}