.header {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Times New Roman', sans-serif;
    background: white;
}
.section-title {
    padding-right: 35%;
    min-height: 25%;
    text-align: left;
    float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', sans-serif;
    color: black;
    background: white;
}
.section-content {
    padding-right: 45%;
    text-align: left;
    float: right;
    font-size: 16px;
    font-family: 'Times New Roman', sans-serif;
    color: black;
    background: white;
}